<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Email Valedation</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>  
    <div style="margin-top:20px; margin-left:30px; padding:20px;" class="col-lg-3 mx-auto text-left text-white bg-info">
        <h1 class="text-warning">Email:</h1><br>
        <form action="/register" method="post" class="form-group">
            <input type="text" id="email" name="email_address" style="width:300px;"><br><br>
            <a href="" class="text-warning"><button type="btn" class="btn btn-warning">Add Email</button></a>
        </form><br><br>
        {% with messages = get_flashed_messages() %}     <!-- declare a variable called messages -->
            {% if messages %}                            <!-- check if there are any messages -->
                {% for message in messages %}            <!-- loop through the messages -->
                    <p class="text-danger">{{message}}</p>                   <!-- display each message in a paragraph tag -->
                {% endfor %}
            {% endif %}
        {% endwith %} 
    </div>
    
</body>
</html>